<div class="activity-card">
  <div class="card-header">
    <a [routerLink]="['/activity/',activity.id,'detail']"
    class="header-link">
      <h3>{{activity.name}}</h3>
    </a>
    <div class="row">
      <div class="col-7 text-center">
        <br>
        <!-- Implement icon -->
        <p class="type">{{activityType}}</p>
      </div>
      <div class="host-img col-5">
        <app-member-miniature [userId]="activity.hostId"></app-member-miniature>
      </div>
    </div>  
  </div>
  <div class="card-body">
    <strong>Status: </strong>{{activityStatus}}
    <hr>
    <strong>Date and time</strong>
    <br>
    From:
    {{activity.startDate | date:'short'}}<br>
    To:
    {{activity.endDate | date:'short'}}
    <hr>
    <strong>Localization:</strong>
    <br>
    {{activity.place}}
    <hr>
    <div>
      <strong>Participants:</strong>
      <app-participant-list [activityId]="activity.id"></app-participant-list>
    </div>
  </div>
  <!-- Time left to close participant list -->
</div>