<div class="container mt-3 text-center">
  <h2 class="inline">
    Join one of many activities created by others, <br> or 
    <a [routerLink]="['/activity/edit']">
      <button class="btn btn-primary">
        <h2>host Your own activity</h2>
      </button>
    </a>
  </h2>
</div>

<div>
  <div class="container mt-3">
    <!-- Activities -->
    <div class="row">
      <div *ngFor="let activity of activities" class="col-lg-3 col-md-4 col-sm-6">
        <app-activity-card [activity]="activity"></app-activity-card>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>
